
@keyframes MineSweep {
  0% ,
   70%,
  60%,
  20.1%,
  /* 100%, */
  65.1%,
  60%,
  /* 90.1%, */
  /* 92%, */
  10% {
    color: (67, 31, 139);
    text-shadow: 8px 1.5px 1.5px rgb(67, 31, 139),
      12px 1.5px 1.5px rgb(67, 31, 139), 16px 1.5px 1.5px rgb(67, 31, 139);
  }
  100% {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
  }
}

@keyframes MineSweepBGC {
  0% ,
   70%,
  60%,
  20.1%,
  /* 100%, */
  65.1%,
  60%,
  /* 90.1%, */
  /* 92%, */
  10% {
    color: (67, 31, 139);
    text-shadow: 8px 1.5px 1.5px rgb(39, 0, 94), 12px 1.5px 1.5px rgb(39, 0, 94),
      16px 1.5px 1.5px rgb(39, 0, 94);
  }
  100% {
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px rgb(255, 255, 255);
  }
}

@keyframes animateTable {
  0%,
  70%,
  60%,
  20.1%,
  60%,
  65.1%,
  30%,
  50.1%,
  60%,
  20% {
    color: (67, 31, 139);
    box-shadow: none;
  }
  100% {
    color: #fff;
    box-shadow: 8px 8px 8px rgb(255, 255, 255);
  }
}

@keyframes animate {
  0%,
  70%,
  60%,
  70.1%,
  60%,
  65.1%,
  80%,
  70.1%,
  92%,
  20% {
    color: (67, 31, 139);
    box-shadow: none;
  }
  100% {
    color: #fff;
    box-shadow: 3px 3px 3px 3px rgb(255, 255, 255);
  }
}

@keyframes scoreFrames {
  0%,
  70%,
  60%,
  70.1%,
  60%,
  65.1%,
  80%,
  70.1%,
  92%,
  20% {
    color: (67, 31, 139);
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 5px 5px 5px 5px rgb(255, 255, 255);
  }
}

@keyframes bounce {
  0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.scale-down-center {
	-webkit-animation: scale-down-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

body {
  background-color: rgb(39, 0, 94);
  color: white;
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
  z-index: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;   
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 120px;
    bottom: 0;
    z-index: 0;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.header {
  background-color: rgb(39, 0, 94);
  transition: 200ms;
  font-family: sans-serif;
  padding: 20px;
  border-bottom: 10px 10px solid rgb(19, 2, 52);
  height: 20px;
  border: 3px solid white;
  border-style: groove;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-bottom: 60px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  text-shadow: 8px 1.5px 1.5px rgb(67, 31, 139),
    12px 1.5px 1.5px rgb(67, 31, 139), 16px 1.5px 1.5px rgb(67, 31, 139);
  border-radius: 8px;
  /* box-shadow: 8px 8px 8px black; */
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(255, 255, 255, 0.403));
  /* animation-direction: alternate; */
  text-decoration: none;  
    color: rgb(67, 31, 139);
    text-shadow: none;  
    -webkit-transition: 100ms linear 0s;  
    -moz-transition: 100ms linear 0s;  
    -o-transition: 100ms linear 0s;  
    transition: 100ms linear 0s;  
    outline: 0 none; 
    z-index: 2;
   
    

  /* outline: none; */
  /* animation: MineSweep 4s linear infinite; */
}

.header:hover {
  background-color: rgb(67, 31, 139);
  transition: 130ms;
  text-shadow: 8px 4px 4px rgba(40, 14, 87, 0.958),
    12px 4px 4px rgba(40, 14, 87, 0.958), 16px 4px 4px rgba(40, 14, 87, 0.958);
    color: #fff;  
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff; 
}

h1 {
  position: absolute;
  top: 25px;
  right: 50%;
  border-radius: 8px;
  animation: MineSweep 2s ease 0s infinite alternate forwards;
  animation-direction: alternate;
  z-index: 6;
}

.timePlayed {
  position: absolute;
  top: 30px;

  left: 57%;

  font-family: 'concert one', cursive;
  transition: 0.5s;
  /* left: 12px; */
  width: 180px;
  height: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 6px;
  position: absolute;
  background-color: rgb(39, 0, 94);
  border-radius: 10px;
  color: aliceblue;
  border-color: aliceblue;
  font-weight: bold;
  font-size: 1.4em;
  animation: MineSweepBGC 2s ease 0s infinite alternate forwards;
  animation-direction: alternate;
  z-index: 2;
}

/* score */
h2 {
  position: absolute;
  top: 135px;
  font-family: 'concert one', cursive;
  left: 55%;

  /* -webkit-box-reflect: below 1px linear-gradient(transparent, white); */
  /* animation: MineSweepBGC 4s linear infinite; */
  animation-direction: alternate;
}

.bestScore {
  position: absolute;
  top: 135px;
  font-family: 'concert one', cursive;
  left: 55%;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, white); */
  /* animation: MineSweepBGC 4s linear infinite; */
  animation-direction: alternate;
}

.livesCount {
  text-align: center;
  font-family: 'concert one', cursive;
  position: relative;
  top: -382px;
  
  left: 180px;
  

  
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, white); */
  /* animation: bounce 4s linear infinite; */
  /* animation-direction: alternate; */


}

table {
  position: relative;
  background-color: rgb(67, 31, 139) ;
  /* max-width: 70%; */
  min-width: 450px;
  height: 400px;
  padding: 4px;
  border-radius: 6px;
  border: 3px white;
  border-style: groove;
  transition: 0.5s;
  box-shadow: 6px 6px 6px black;
  text-align: center;
  margin-top: 20px;
  margin: auto;
  /* margin-left: 12px; */
  margin-bottom: 20px;
  top: 60px;
  /* bottom: 450px; */
  animation: animateTable 1.6s linear infinite;
  animation-direction: alternate;
  z-index: 6;
}

td {
  max-width: 50px;
  max-height: 50px;
  font-weight: bold;
  transition: 0.5s;
  animation: animate 4s linear infinite;
  animation-direction: alternate;
  z-index: 6;
}

td:hover {
  background-color: rgba(67, 31, 139, 0.58);
  cursor:pointer;
}

td:active {
  cursor:grabbing;
}

.cell {
  margin: 5px;
  width: 40px;
  min-width: 20px;
  max-width: 40px;
  height: 15px;
  max-height: 20px;
  text-align: center;
  z-index: 10;
}

.floor {
  background-color: rgb(67, 31, 139);
  z-index: 0;
}
.wall {
  background-color: rgba(211, 211, 211, 0.439);
  border: 2px solid rgba(255, 255, 255, 0.509);
  border-radius: 6px;
  z-index: 1;
}



button {
  position: absolute;
  /* bottom: 250px; */
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 6px;
  position: absolute;
  background-color: rgb(39, 0, 94);
  border-radius: 10px;
  color: aliceblue;
  border-color: aliceblue;
  font-weight: bold;
  font-size: 1.2em;
  top: 673px;
  
  animation: bounce 2s ease 0s infinite alternate forwards;

}


button:hover {
  background-color: rgb(67, 31, 139);
  transition: 65ms;
  cursor:pointer;
}

button:active {
  cursor:grabbing;
}

.rst {
  margin-top: 20px;
  /* left: 276px; */
  left: 58%;
  top: 665px;
}

.btnInsert {
  position: absolute;
  top: 665px;
  right: 60%;
  /* left: 20px; */
}

.inputKey {
  position: absolute;
  font-family: 'concert one', cursive;
  top: 640px;
  right: 60%;
  animation: animate 4s linear infinite;
  animation-direction: alternate;
}

.isNamed {
  font-family: 'concert one', cursive;
  font-weight: bold;
  position: absolute;
  top: 610px;
  right: 60%;
}

label {
  position: absolute;
  top: 611px;
  /* bottom: 260px; */
  left: 60%;
  font-weight: bold;
  font-family: 'concert one', cursive;
  /* animation: MineSweepBGC 8s linear infinite;
  animation-direction: alternate; */
}

select {
  position: absolute;
  top: 641px;
  /* bottom: 260px; */
  font-family: 'concert one', cursive;
  left: 56%;
  animation: animate 4s linear infinite;
  animation-direction: alternate;
  
}

option {
  font-family: 'concert one', cursive;
  font-weight: bold;
}

.mark {
  background-color: #fff;
}

.selected {
  background-color: rgb(224, 117, 117);
}
